<div class="cover" style="background-image: url(https://img.freepik.com/free-photo/arrangement-cinema-elements-bicolor-background-with-copy-space_23-2148457840.jpg?w=1380&t=st=1666181181~exp=1666181781~hmac=74390de2fc7dec25f309e935a3659847da4978433099d91baa87bd577a53341a);">
  <div class="container-cover">
    <h1>Keep all your movies!</h1>
    <h2 class="typed-js" data-controller="typed-js">Movie Time!</h2>
  </div>
</div>

<div class="container">
  <div class="cards d-flex align-items-center justify-content-between mb-3">
    <h3>My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-success" %>
  </div>
</div>

<div class="wrapper">
    <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
    <% if list.photo.attached?  %>
      <div class="card-list m-3" style="background-image: url('<%=  (cl_image_path list.photo.key, height: 300, crop: :fill )%>')">
       </div>
        <%= list.name %>
        <% else %>
        <%= list.name %>
        <% end %>
      <%end %>
  <% end %>
</div>

<br/>
<hr/>

<div class="card-trip">
  <%= cl_image_tag("sample", width: 60, height: 60, crop: :fill) %>
  <div class="card-trip-infos">
    <div>
      <h2>Title</h2>
      <p>Read more!</p>
    </div>
  </div>
</div>


<div class="starWars"></div>

<%= cl_image_tag("sample", width: 400, height: 300, crop: :fill) %>

<%# not apply %>
<%# <%= image_tag("/app/assets/images/rails_watch_list.jpg", {:style => "width:100px;"}) %>
https://unsplash.com/photos/hwQZLREASZk
https://unsplash.it/640/425?image=40
